SUPABASE_URL=https://your-supabase-url.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
DATABASE_URL=postgresql://postgres:password@host:port/postgres
DIRECT_URL=postgresql://postgres:password@host:port/postgres
SUPABASE_JWT_SECRET=your-supabase-jwt-secret
AFRICASTALKING_USERNAME=
AFRICASTALKING_API_KEY=
AT_SHORTCODE=
LLM_MODEL=
GOOGLE_GENERATIVE_AI_API_KEY=
